app/local/site/etc/config.ini
!app/local/site/etc/config-sample.ini
app/*/local/*/etc/config.ini
!app/*/local/*/etc/config-sample.ini
app/share/
app/*/share/
files/*
!files/app/.htaccess
tmp/*
!tmp/.htaccess
/.htaccess
!/.htaccess_sample
install/
sitesync/
stats/
.idea/
.DS_Store
*.swp
